# Build and compile files
bin/
bin-*/
build/
build-*/
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Compiled Object files
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# IDE and Editor files
.zed/
.idea/
.vscode/
.cache/
*.swp
*.swo
*~

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini
